<a class="btn btn-success" onclick="GetPersons()">console.log için Kişileri Getir</a>
<hr />
<a class="btn btn-success" onclick="GetPerson()">console.log & index için Kişi Getir</a>
<input type="text" id="input-id" />
<br />
<input type="text" id="input-personId" />
<input type="text" id="input-personFullName" />
<input type="text" id="input-personBirthOfDate" />
<hr />
<a class="btn btn-success" onclick="CreatePerson()">console.log ve index için Kişi Oluşturur></a>
<input type="text" id="input-createPersonId" />
<input type="text" id="input-createPersonFullName" />
<input type="text" id="input-createPersonBirthOfDate" />
<hr />